# Cancellation & Refund Policy

**Effective Date:** September 27, 2023

1. **No Cancellation or Refund**

   - We do not offer cancellations or refunds for credit purchases on our AI image generation service.

2. **Contact Us**

   - If you have any questions or concerns about this policy or your credit purchases, please contact us at [prabhukiran426@gmail.com](mailto:prabhukiran426@gmail.com).
